.forms {
  padding: 1rem;
  margin-top: -5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 6rem;
  @media only screen and (max-width: 683px) {
    margin-top: 4rem;
    padding: 0rem;
  }

  &_player {
    display: grid;
    row-gap: 4rem;
    &-inputs {
      display: flex;
      flex-direction: column;
      textarea {
        font-family: "Open Sans", sans-serif;
      }
    }
  }

  &_address {
    display: grid;
    row-gap: 2rem;
  }
  &_terms {
    width: 55rem;
    @media only screen and (max-width: 600px) {
      width: 35rem;
    }
    &-policy {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      &-accademy {
        &-title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--title-color);
          margin-bottom: 1rem;
        }
        &-text {
          font-size: 1.5rem;
          color: #383738;
        }
      }
      &-covid {
        margin-top: 2rem;
        &-title {
          font-size: 2rem;
          font-weight: 600;
          color: var(--title-color);
          margin-bottom: 1rem;
        }
        &-text {
          color: #383738;
          font-size: 1.5rem;
        }
      }
    }
    &-text {
      font-size: 1.3rem;
    }
  }
  &_agreement {
    display: flex;
    &-icon {
      cursor: pointer;
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      border: 3px solid var(--title-color);

      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: var(--underline-color);
      }
    }
    &-text {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      span {
        color: var(--underline-color);
        font-size: 1.6rem;
      }
    }
  }
  &_submit {
    width: 15rem;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: 0.4s;
    &:focus {
      outline: none;
    }
    &:active {
      transform: scale(0.8);
    }
  }
}

.form-label {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  span {
    color: var(--underline-color);
  }
}

.program_selector {
  cursor: pointer;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-hidden {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    min-height: 18rem;
    background-color: white;
    top: 4.5rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.6rem;
    display: none;

    div {
      cursor: pointer;
      transition: 0.3s;
      padding: 0.5rem;
      &:hover {
        background-color: var(--background-color);
      }
    }
  }
}
