.m_nav {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  // z-index: 300;
  &_logos {
    opacity: 0;
    position: absolute;
    width: 13rem;
    left: 3rem;
    top: 0.5rem;
    transform: translateY(-16rem);
  }

  &_background {
    position: fixed;
    right: 2rem;
    top: 0.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--title-color);
    transition: all 0.4s cubic-bezier(0.76, 0, 0.24, 1);
    z-index: 1000;
  }
  &_register {
    z-index: 5000;
    position: absolute;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 30px;
    color: var(--title-color);
    background-color: white;
    width: 12rem;
    font-weight: 600;
    right: 11rem;
    top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @media only screen and (max-width: 380px) {
      right: 8.5rem;
    }
  }
  &_button {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 0.2rem;
    z-index: 4000;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-icon {
      position: relative;
      &,
      &::before,
      &::after {
        width: 4rem;
        height: 4px;
        background-color: white;
        display: inline-block;
      }

      &::before,
      &::after {
        transition: all 0.3s;
        content: "";
        position: absolute;
        left: 0;
      }
      &::before {
        top: -1rem;
      }
      &::after {
        top: 1rem;
      }
    }
  }
  &_checkbox {
    display: none;
  }

  &_checkbox:checked + &_button &_button-icon {
    background-color: transparent;
  }

  &_checkbox:checked + &_button &_button-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  &_checkbox:checked + &_button &_button-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &_container {
    position: fixed;
    height: 100vh;
    width: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    opacity: 0;
    visibility: 0;
    transition: width 0.2s 0.2s;
    z-index: 3000;

    &-list {
      margin-top: 16rem;
      width: 100vw;
      opacity: 0;
      transition: all 0s 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &-li {
        cursor: pointer;
        width: 100vw;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 5rem;
        border-bottom: 1px solid #607295;
        border-top: 1px solid #607295;
        text-decoration: none;
        font-size: 2rem;
        p {
          margin-left: 3rem;
        }
      }
    }
  }
}
.upload-l {
  background-color: rgba(crimson, 0.6);
  color: white;
  border-radius: 7px;
}

.mob_info {
  position: absolute;
  color: white;
  margin-top: 35rem;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
  &-contact {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  &-icons {
    display: flex;
    margin-bottom: 2rem;
    &-icon {
      margin-right: 1rem;
      width: 1.5rem;
    }
    &-text {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
    }
  }
}
.special-case {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  img {
    width: 3rem;
    margin-top: 2rem;
  }
}
