.programs {
  opacity: 0;
  transform: translateX(-5rem);
  &_content {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
    justify-content: center;
    row-gap: 8rem;
    column-gap: 10rem;
  }
}

.training-grid {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_image {
    position: relative;
    &-name {
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(50% 50%);
      color: white;
      font-weight: 600;
      font-size: 2rem;
    }
    img {
      width: 400px;
    }
  }

  &_button {
    margin-top: 1rem;
    font-size: 2rem;
    width: 17rem;
    justify-self: start;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 650px) {
  .programs {
    &_content {
      grid-template-columns: repeat(auto-fit, minmax(min-content, 350px));
      padding: 0;
    }
  }
  .training-grid {
    width: 350px;

    &_image {
      img {
        width: 350px;
      }
    }
  }
}
