.programs {
  &_content {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
    justify-content: center;
    row-gap: 8rem;
    column-gap: 10rem;
  }
}

.training-grid {
  width: 400px;

  &_image {
    img {
      width: 370px;
    }
  }

  &_button {
    font-size: 2rem;
    width: 17rem;
  }
}
