.socialMedia {
  &_content {
    margin-bottom: 10rem;
    margin-top: 5rem;
    display: grid;
    grid-auto-flow: column;
    column-gap: 5rem;
    justify-content: center;

    &-fb,
    &-in {
      width: 40rem;
      height: 20rem;
      background-color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: var(--title-color);
      font-weight: 600;
    }
  }
}
