.students {
  grid-column: center-start / center-end;

  &_content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 330px));
    justify-content: space-evenly;
    row-gap: 5rem;
  }
}

.academy-grid {
  img {
    width: 33rem;
  }
}
